### URL de la API

In [36]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

url = "https://api.covidtracking.com/v1/states/daily.json"

Alabama (AL)
Alaska (AK)
Arizona (AZ)
Arkansas (AR)
California (CA)
Colorado (CO)
Connecticut (CT)
Delaware (DE)
Florida (FL)
Georgia (GA)
Hawaii (HI)
Idaho (ID)
Illinois (IL)
Indiana (IN)
Iowa (IA)
Kansas (KS)
Kentucky (KY)
Louisiana (LA)
Maine (ME)
Maryland (MD)
Massachusetts (MA)
Michigan (MI)
Minnesota (MN)
Mississippi (MS)
Missouri (MO)
Montana (MT)
Nebraska (NE)
Nevada (NV)
New Hampshire (NH)
New Jersey (NJ)
New Mexico (NM)
New York (NY)
North Carolina (NC)
North Dakota (ND)
Ohio (OH)
Oklahoma (OK)
Oregon (OR)
Pennsylvania (PA)
Rhode Island (RI)
South Carolina (SC)
South Dakota (SD)
Tennessee (TN)
Texas (TX)
Utah (UT)
Vermont (VT)
Virginia (VA)
Washington (WA)
West Virginia (WV)
Wisconsin (WI)
Wyoming (WY)

#### Population by state

California: Approximately 39.5 million people
Texas: Approximately 29.8 million people
Florida: Approximately 21.7 million people
New York: Approximately 20.2 million people
Pennsylvania: Approximately 13.1 million people
Illinois: Approximately 12.7 million people
Ohio: Approximately 11.8 million people
Georgia: Approximately 10.8 million people
North Carolina: Approximately 10.7 million people
Michigan: Approximately 10.1 million people

In [37]:
# Realizar la solicitud (request) para obtener los datos JSON
response = requests.get(url)

# Verificar que la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Cargar los datos JSON en un DataFrame de pandas utilizando json_normalize
    data = response.json()
    df = pd.json_normalize(data)
    
    display(df)
else:
    print("No se pudo obtener los datos JSON. Código de estado:", response.status_code)

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,None,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,None,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,None,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,None,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,None,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,20200117,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,None,0,0,7cefac6b3681020741ca30f45399a7b22f2e45b4,0,0,0,0,0,
20776,20200116,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,None,0,0,650501e005a5ee86d93c5f32dda56735ea2af967,0,0,0,0,0,
20777,20200115,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,None,0,0,4987e61aad88182abfe641033b597304c2153d4f,0,0,0,0,0,
20778,20200114,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,None,0,0,1881c8a2f0d337b22066b4f05df06eb2259e8d57,0,0,0,0,0,
20779,20200113,WA,NaN,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,None,0,0,12b994ad07c276a5278a2465e081751688739765,0,0,0,0,0,

In [38]:
df.describe()

,date,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,total,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease,commercialScore,negativeRegularScore,negativeScore,positiveScore,score
count,2.078000e+04,2.059200e+04,9271.000000,1.329000e+04,2138.000000,2.061400e+04,17339.000000,12382.000000,11636.000000,3789.000000,...,2.078000e+04,20780.000000,2.078000e+04,20780.000000,20780.000000,20780.0,20780.0,20780.0,20780.0,20780.0
mean,2.020244e+07,1.651560e+05,21729.123719,8.482246e+05,1659.862956,2.186936e+06,1190.576965,9262.762478,359.621176,1934.191607,...,7.063208e+05,17508.388210,7.061500e+05,24.790712,37.360780,0.0,0.0,0.0,0.0,0.0
std,3.608732e+03,3.267852e+05,45471.459778,1.344501e+06,4671.028548,4.436508e+06,2060.041207,12620.544081,594.831150,1953.329983,...,1.300339e+06,33586.022461,1.299997e+06,60.162742,208.237151,0.0,0.0,0.0,0.0,0.0
min,2.020011e+07,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,0.000000,6.000000,...,0.000000e+00,-130545.000000,0.000000e+00,-201.000000,-12257.000000,0.0,0.0,0.0,0.0,0.0
25%,2.020060e+07,5.753750e+03,773.500000,5.394125e+04,43.000000,1.040498e+05,166.500000,985.250000,60.000000,501.000000,...,2.577975e+04,1205.750000,2.565875e+04,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,2.020090e+07,4.606450e+04,4491.000000,3.059720e+05,212.500000,6.552670e+05,531.000000,4472.000000,172.000000,1295.000000,...,1.937255e+05,6125.000000,1.935810e+05,6.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,2.020120e+07,1.779580e+05,19553.000000,1.056611e+06,1295.750000,2.264766e+06,1279.000000,12248.500000,380.000000,2451.000000,...,7.737408e+05,19086.500000,7.737408e+05,24.000000,36.000000,0.0,0.0,0.0,0.0,0.0
max,2.021031e+07,3.501394e+06,365961.000000,1.018694e+07,64400.000000,4.964601e+07,22851.000000,82237.000000,5225.000000,9263.000000,...,1.125679e+07,473076.000000,1.124825e+07,2559.000000,16373.000000,0.0,0.0,0.0,0.0,0.0

In [6]:
# Удаление колонок, в которых все значения равны 0
df_filtered = df.loc[:, (df != 0).any(axis=0)]

# df_filtered теперь содержит только те колонки, в которых есть хотя бы одно ненулевое значение
df_filtered.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,0,0,56886,0,56886,None,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,408,2087,2431530,2347,2431530,None,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,165,3267,2805534,3380,2805534,None,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,0,0,2140,0,2140,None,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,1335,13678,3899464,45110,3899464,None,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,


Here are the columns with the "Deprecated" comment:

checkTimeEt
commercialScore
dateChecked
dateModified
grade
negativeIncrease
negativeRegularScore
negativeScore
pending
posNeg
positiveScore
score
total

In [10]:
df_filtered = df_filtered.drop(['checkTimeEt', 'dateChecked', 'dateModified', 'grade', 'negativeIncrease', 'pending', 'posNeg', 'total'], axis=1)

In [11]:
object_columns = df_filtered.select_dtypes(include='object')
object_columns.head()

,state,totalTestResultsSource,lastUpdateEt,fips,dataQualityGrade,hash
0,AK,totalTestsViral,3/5/2021 03:59,02,None,dc4bccd4bb885349d7e94d6fed058e285d4be164
1,AL,totalTestsPeopleViral,3/7/2021 11:00,01,None,997207b430824ea40b8eb8506c19a93e07bc972e
2,AR,totalTestsViral,3/7/2021 00:00,05,None,50921aeefba3e30d31623aa495b47fb2ecc72fae
3,AS,totalTestsViral,12/1/2020 00:00,60,None,f77912d0b80d579fbb6202fa1a90554fc4dc1443
4,AZ,totalTestsViral,3/7/2021 00:00,04,None,0437a7a96f4471666f775e63e86923eb5cbd8cdf

In [12]:
columns_to_exclude = ["totalTestResultsSource","lastUpdateEt", "fips", "dataQualityGrade", "hash"]
df_filtered = df_filtered.drop(columns=columns_to_exclude)

In [13]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20780 entries, 0 to 20779
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         20780 non-null  int64
 1   state                        20780 non-null  object
 2   positive                     20592 non-null  float64
 3   probableCases                9271 non-null   float64
 4   negative                     13290 non-null  float64
 5   totalTestResults             20614 non-null  float64
 6   hospitalizedCurrently        17339 non-null  float64
 7   hospitalizedCumulative       12382 non-null  float64
 8   inIcuCurrently               11636 non-null  float64
 9   inIcuCumulative              3789 non-null   float64
 10  onVentilatorCurrently        9126 non-null   float64
 11  onVentilatorCumulative       1290 non-null   float64
 12  recovered                    12003 non-null  float64
 13  death                        19930 non-null  float64
 14  hospitalized                 12382 non-null  float64
 15  hospitalizedDischarged       3070 non-null   float64
 16  totalTestsViral              14516 non-null  float64
 17  positiveTestsViral           8958 non-null   float64
 18  negativeTestsViral           5024 non-null   float64
 19  positiveCasesViral           14246 non-null  float64
 20  deathConfirmed               9422 non-null   float64
 21  deathProbable                7593 non-null   float64
 22  totalTestEncountersViral     5231 non-null   float64
 23  totalTestsPeopleViral        9197 non-null   float64
 24  totalTestsAntibody           4789 non-null   float64
 25  positiveTestsAntibody        3346 non-null   float64
 26  negativeTestsAntibody        1458 non-null   float64
 27  totalTestsPeopleAntibody     2200 non-null   float64
 28  positiveTestsPeopleAntibody  1094 non-null   float64
 29  negativeTestsPeopleAntibody  972 non-null    float64
 30  totalTestsPeopleAntigen      999 non-null    float64
 31  positiveTestsPeopleAntigen   633 non-null    float64
 32  totalTestsAntigen            3421 non-null   float64
 33  positiveTestsAntigen         2233 non-null   float64
 34  positiveIncrease             20780 non-null  int64
 35  totalTestResultsIncrease     20780 non-null  int64
 36  deathIncrease                20780 non-null  int64
 37  hospitalizedIncrease         20780 non-null  int64
dtypes: float64(32), int64(5), object(1)
memory usage: 6.0+ MB

In [25]:
df_filtered.head()

,date,state,positive,probableCases,negative,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,positiveTestsPeopleAntibody,negativeTestsPeopleAntibody,totalTestsPeopleAntigen,positiveTestsPeopleAntigen,totalTestsAntigen,positiveTestsAntigen,positiveIncrease,totalTestResultsIncrease,deathIncrease,hospitalizedIncrease
0,20210307,AK,56886.0,0.0,0.0,1731628.0,33.0,1293.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
1,20210307,AL,499819.0,107742.0,1931711.0,2323788.0,494.0,45976.0,0.0,2676.0,...,0.0,0.0,0.0,0.0,0.0,0.0,408,2347,-1,0
2,20210307,AR,324818.0,69092.0,2480716.0,2736442.0,335.0,14926.0,141.0,0.0,...,0.0,0.0,481311.0,81803.0,0.0,0.0,165,3380,22,11
3,20210307,AS,0.0,0.0,2140.0,2140.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
4,20210307,AZ,826454.0,56519.0,3073010.0,7908105.0,963.0,57907.0,273.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1335,45110,5,44

In [14]:
df_filtered.describe()

,date,positive,probableCases,negative,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,positiveTestsPeopleAntibody,negativeTestsPeopleAntibody,totalTestsPeopleAntigen,positiveTestsPeopleAntigen,totalTestsAntigen,positiveTestsAntigen,positiveIncrease,totalTestResultsIncrease,deathIncrease,hospitalizedIncrease
count,2.078000e+04,2.059200e+04,9271.000000,1.329000e+04,2.061400e+04,17339.000000,12382.000000,11636.000000,3789.000000,9126.000000,...,1094.000000,972.000000,999.000000,633.000000,3.421000e+03,2233.000000,20780.000000,20780.000000,20780.000000,20780.000000
mean,2.020244e+07,1.651560e+05,21729.123719,8.482246e+05,2.186936e+06,1190.576965,9262.762478,359.621176,1934.191607,151.589305,...,20516.966179,188710.969136,168188.246246,25259.048973,3.089196e+05,31837.241379,1383.849519,17508.388210,24.790712,37.360780
std,3.608732e+03,3.267852e+05,45471.459778,1.344501e+06,4.436508e+06,2060.041207,12620.544081,594.831150,1953.329983,207.755157,...,29267.559775,200218.073746,143748.073365,24139.253458,4.232854e+05,41929.658070,3023.558742,33586.022461,60.162742,208.237151
min,2.020011e+07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,1.000000,0.000000,6.000000,0.000000,...,0.000000,1.000000,3.000000,3.000000,1.000000e+00,0.000000,-7757.000000,-130545.000000,-201.000000,-12257.000000
25%,2.020060e+07,5.753750e+03,773.500000,5.394125e+04,1.040498e+05,166.500000,985.250000,60.000000,501.000000,29.000000,...,3155.500000,54874.000000,37675.500000,2682.000000,2.004700e+04,1085.000000,65.000000,1205.750000,0.000000,0.000000
50%,2.020090e+07,4.606450e+04,4491.000000,3.059720e+05,6.552670e+05,531.000000,4472.000000,172.000000,1295.000000,86.000000,...,11956.000000,100282.000000,144130.000000,17763.000000,1.233840e+05,13661.000000,435.000000,6125.000000,6.000000,0.000000
75%,2.020120e+07,1.779580e+05,19553.000000,1.056611e+06,2.264766e+06,1279.000000,12248.500000,380.000000,2451.000000,185.000000,...,19059.000000,261121.000000,255251.000000,47012.000000,4.327270e+05,49010.000000,1335.250000,19086.500000,24.000000,36.000000
max,2.021031e+07,3.501394e+06,365961.000000,1.018694e+07,4.964601e+07,22851.000000,82237.000000,5225.000000,9263.000000,2425.000000,...,178979.000000,816231.000000,580372.000000,81803.000000,2.664340e+06,211546.000000,71734.000000,473076.000000,2559.000000,16373.000000

In [24]:
columns_with_nan = df_filtered.columns[ df_filtered.isna().any()].tolist()
nan_counts = df_filtered[columns_with_nan].isna().sum().reset_index()
nan_counts.columns = ['Column', 'NaN Count']

print(nan_counts)

Empty DataFrame
Columns: [Column, NaN Count]
Index: []

In [26]:
grouped = df_filtered.groupby("state").agg({"death": 'sum','deathIncrease':'sum'}).sort_values(by="death", ascending=False)
grouped

           death  deathIncrease
state
NY     8854467.0          39029
CA     5733089.0          54124
NJ     5352148.0          23574
TX     5256010.0          44451
FL     4471991.0          32266
IL     3601219.0          23014
PA     3384139.0          24349
MA     3195657.0          16417
MI     2892062.0          16658
GA     2349202.0          17906
AZ     1918434.0          16328
OH     1909606.0          17656
LA     1765795.0           9748
IN     1629501.0          12737
CT     1584666.0           7704
MD     1386198.0           7955
NC     1347142.0          11502
TN     1185922.0          11543
VA     1111918.0           9596
SC     1092259.0           8754
AL     1038264.0          10148
MS      968406.0           6808
MO      966302.0           8161
MN      931536.0           6550
CO      908462.0           5989
WI      829707.0           7106
WA      770213.0           5041
IA      652451.0           5558
NV      601874.0           5037
AR      601561.0           5319
KY      519333.0           4819
OK      469890.0           4534
KS      446973.0           4812
NM      431992.0           3808
RI      408127.0           2547
NE      255624.0           2113
PR      255184.0           2062
OR      254171.0           2296
DE      228375.0           1473
UT      221121.0           1976
ID      219713.0           1879
WV      214943.0           2325
DC      207067.0           1030
SD      202061.0           1900
ND      181229.0           1478
NH      171074.0           1184
MT      139255.0           1381
ME       73681.0            706
WY       59935.0            682
HI       52478.0            445
AK       31486.0            305
VT       28218.0            208
GU       18674.0            133
VI        5100.0             25
MP         677.0              2
AS           0.0              0

In [35]:
df_filtered.fillna(0, inplace=True)

In [17]:
grouped = df_filtered.groupby("state").agg({"deathConfirmed": 'sum', "death": 'sum','deathIncrease':'sum', 'deathProbable': 'sum'}).sort_values(by="death", ascending=False)
grouped

       deathConfirmed      death  deathIncrease  deathProbable
state
NY                0.0  8854467.0          39029            0.0
CA                0.0  5733089.0          54124            0.0
NJ          4746953.0  5352148.0          23574       605194.0
TX             3626.0  5256010.0          44451            0.0
FL           390457.0  4471991.0          32266            0.0
IL          3323967.0  3601219.0          23014       211807.0
PA                0.0  3384139.0          24349            0.0
MA          3071210.0  3195657.0          16417        66010.0
MI          2754990.0  2892062.0          16658       142779.0
GA          1367684.0  2349202.0          17906       153521.0
AZ          1710791.0  1918434.0          16328       159627.0
OH          1723016.0  1909606.0          17656       184745.0
LA          1667839.0  1765795.0           9748        79489.0
IN          1532804.0  1629501.0          12737        78675.0
CT          1172715.0  1584666.0           7704       281155.0
MD          1340190.0  1386198.0           7955        46004.0
NC          1267867.0  1347142.0          11502        73842.0
TN          1027462.0  1185922.0          11543       152938.0
VA          1004072.0  1111918.0           9596       105004.0
SC          1005499.0  1092259.0           8754        82655.0
AL           897681.0  1038264.0          10148       136027.0
MS           786739.0   968406.0           6808       160947.0
MO                0.0   966302.0           8161            0.0
MN           899916.0   931536.0           6550        27007.0
CO           748037.0   908462.0           5989       135029.0
WI           774685.0   829707.0           7106        48594.0
WA           415651.0   770213.0           5041            0.0
IA                0.0   652451.0           5558            0.0
NV                0.0   601874.0           5037            0.0
AR           468918.0   601561.0           5319        82996.0
KY           487378.0   519333.0           4819        27733.0
OK                0.0   469890.0           4534            0.0
KS                0.0   446973.0           4812            0.0
NM                0.0   431992.0           3808            0.0
RI                0.0   408127.0           2547            0.0
NE                0.0   255624.0           2113            0.0
PR           198785.0   255184.0           2062        53874.0
OR                0.0   254171.0           2296            0.0
DE           202801.0   228375.0           1473        25574.0
UT                0.0   221121.0           1976            0.0
ID           193293.0   219713.0           1879        23827.0
WV           182904.0   214943.0           2325        22352.0
DC                0.0   207067.0           1030            0.0
SD                0.0   202061.0           1900            0.0
ND                0.0   181229.0           1478            0.0
NH                0.0   171074.0           1184            0.0
MT                0.0   139255.0           1381            0.0
ME            71626.0    73681.0            706         1088.0
WY                0.0    59935.0            682            0.0
HI            52478.0    52478.0            445            0.0
AK            14454.0    31486.0            305            0.0
VT            15647.0    28218.0            208            0.0
GU                0.0    18674.0            133            0.0
VI              125.0     5100.0             25            0.0
MP              402.0      677.0              2            0.0
AS                0.0        0.0              0            0.0

In [32]:
plt.figure(figsize=(10, 8))
grouped_reset = grouped.reset_index()  # Reset the index
grouped_melted = grouped_reset.melt(id_vars="state", value_vars=["deathConfirmed", "death"], var_name="Count Type", value_name="Count")
sns.barplot(x="Count", y="state", hue="Count Type", data=grouped_melted)
plt.xlabel("Count")
plt.ylabel("State")
plt.title("Total Death and Death Confirmed by State")
plt.legend()
plt.show()

In [33]:
-

In [ ]:
df_filtered.corr()

In [ ]:
# A partir de la tabla de correlación, obtenemos el mapa de calor 
sns.heatmap(df.corr(), vmin=-1., vmax=1., annot=True)

In [ ]:
sns.lineplot(data=df, x="date", y="positive")
plt.xlabel("Fecha")
plt.ylabel("Casos positivos")
plt.title("Casos positivos de COVID-19 a lo largo del tiempo")
plt.xticks(rotation=45)
plt.show()

In [ ]:
grouped = df1.groupby("state").agg({"death": 'sum', "hospitalized": 'sum', "positive": 'sum'})

In [ ]:

df = df1.drop_duplicates(keep='first')

df_final = df1[["state", "positive",  "death"]]

df_final